@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;

.c-accordion {
  
  &__item{
    border-radius: 4px;
    overflow: hidden;
    background-color: #F7F7F7;
  }

  &__btn{
    transition:$transition;
    cursor: pointer;
    position: relative;
    padding:1rem 3.2rem 1rem 1.6rem;
    @include fz(14, true, 20, 600, 0);
    &::after{
      position: absolute;
      top: calc(50% - 0.1rem);
      transition: $transition;
      right: 1.8rem;
      width:0;
      height:0;
      content:"";
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 5px solid color(default-gray);
    }

    &.is-active{
      &::after{
        transform: rotate(180deg);
      }
    }
    &:hover{
      color:color(theme);
      &::after{
        border-top: 5px solid color(theme);
      }
    }
  }

  &__contents-wrapper{
    transition:.4s;
    max-height: 0;
    &.is-active{
      max-height: 64rem;
      @include media(sm) {
        max-height: 80rem;
      }
    }
  }

  &__contents{
    border-radius: 4px;
    overflow: hidden;
    margin:0 .8rem .8rem;
    padding: 1.6rem;
    background-color: color(default-white);

  }
}


.c-accordion02 {
  
  &__item{
    overflow: hidden;
  }

  &__btn{
    cursor: pointer;
    position: relative;
    height: 8rem;
    display: flex;
    transition: $transition;
    align-items: center;
    justify-content: space-between;
    padding:2.4rem 4.8rem 2.4rem 4rem;
    border-top: 1px solid color(light-theme);
    border-bottom: 1px solid transparent;
    @include media(sm) {
      height:auto;
      flex-wrap: wrap;
      gap:1rem;
      padding:2.4rem 3.6rem 2.4rem 1.6rem;
    }
    &::after{
      position: absolute;
      top: calc(50% - 0.1rem);
      transition: $transition;
      right: 1.8rem;
      width:0;
      height:0;
      content:"";
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 5px solid color(default-gray);
    }

    &--border{
      &.is-active{
        border-bottom: 1px solid color(light-theme);
      }
    }
    &--border02{
        border-bottom: 1px solid color(light-theme);
    }
    &--border03{
        border-bottom: 1px solid color(light-theme);
        @include media(sm) {
          border-bottom: 1px solid transparent;
        }
        &.is-active{
        border-bottom: 1px solid transparent;
      }
    }
    &--border04{
        border-bottom: 1px solid color(light-theme);
        @include media(sm) {
          border-bottom: 1px solid transparent;
        }
        &.is-active{
        border-bottom: 1px solid color(light-theme);
      }
    }
    &--border05{
        border-bottom: 1px solid transparent;
        &.is-active{
        border-bottom: 1px solid color(light-theme);
      }
        @include media(sm) {
          border-bottom: 1px solid transparent;
        }

        &.is-active{
        border-bottom: 1px solid color(light-theme);
        @include media(sm) {
          border-bottom: 1px solid transparent;
        }
      }
        
    }
    &--padding{
      padding:2.4rem 4.8rem 2.4rem 1.6rem;
    }

    &.is-active{
      &::after{
        transform: rotate(180deg);
      }
    }
    &:hover{
      color:color(theme);
      &:after{
        border-top: 5px solid color(color(theme));
      }
    }
  }

  &__contents-wrapper{
    transition:.4s;
    max-height: 0;
    &.is-active{
      max-height: 800rem;
    }
  }

  &__contents{
    border-radius: 4px;
    overflow: hidden;
    padding:2.4rem 4rem;
    background-color: color(default-white);
    @include media(sm) {
      padding:0 1.6rem 2.4rem;
    }

    &--responsive{
      @include media(sm) {
        padding:0 0 2.4rem;
      }
    }
    &--responsive02{
      @include media(sm) {
        padding:0 1.6rem 0rem;
      }
    }
    &--responsive-padding{
      @include media(sm) {
        padding:0 .4rem 1.6rem;
      }
    }
    &--padding{
      padding:2.4rem 1.6rem;
    }
    &--padding02{
      padding:2.4rem 1.6rem;
      @include media(sm) {
        padding:2.4rem 1.6rem;
      }
    }
  }

  &__ttl{
    @include fz(24, true, 20, 600, 0);
    @include media(sm) {
      @include fz(16, true, 20, 600, 0);
    }
  }

  &__item-parts{
    display: flex;
    align-items: center;
    gap:.4rem;
  }
}


.c-accordion03{
  &__item{
    overflow: hidden;
  }

  &__contents-wrapper{
    transition:.4s;
    max-height: 0;
    &.is-active{
      max-height: 400rem;
    }
  }

  &__contents{
    overflow: hidden;
  }

  &__contents-area{
    padding:2rem 1.6rem;
    border-left:1px solid color(border);
    border-right:1px solid color(border);
  }

  &__item-ttl{
    @include fz(24, true, 32, 600, 0);
    span{
      @include fz(16, true, 24, 600, 0);
    }
  }

  &__btn{
    cursor: pointer;
    position: relative;
    height: 8.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2.4rem 4.8rem 2.8rem 1.6rem;
    border-radius: 4px;
    border:1px solid color(border);
    @include media(sm) {
      height:auto;
      flex-wrap: wrap;
      gap:1rem;
      padding:.8rem 3.6rem .8rem 1.6rem;
    }
    &::after{
      position: absolute;
      top: calc(50% - 0.1rem);
      transition: $transition;
      right: 1.8rem;
      width:0;
      height:0;
      content:"";
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 5px solid color(default-gray);
    }

    &.is-active{
      border-radius: 4px 4px 0 0;
      &::after{
        transform: rotate(180deg);
      }
    }
  }

  &__area{
    padding:1.6rem;
    border-top: 1px solid color(border);
    border-left:1px solid color(border);
    border-right:1px solid color(border);
    &:last-of-type{
      border-radius: 0 0 4px 4px;
      border-bottom:1px solid color(border);
    }
  }
}


.c-accordion04 {
  
  &__item{
    overflow: hidden;
  }

  &__contents-wrapper{
    transition:.4s;
    max-height: 0;
    &.is-active{
      max-height: 64rem;
    }
  }

  &__contents{
    border-radius: 4px;
    padding-top:.8rem;
    overflow: hidden;
  }

  &__area{
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    position:relative;
    padding-right: 2.4rem;
    &::after{
      position: absolute;
      transition: $transition;
      top: calc(50% - 0.1rem);
      right: 0;
      width:0;
      height:0;
      content:"";
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 5px solid color(default-gray);
    }
    &.is-active{
      &::after{
        transform: rotate(180deg);
      }
    }
    &:hover{
      color:color(theme);
      &::after{
        border-top: 5px solid color(theme);
      }
    }
  }

  &__txt-small{
    transition:$transition;
    @include fz(12, true, 20, 400, 0);
  }

   &__txt02{
    transition:$transition;
    margin-right: .8rem;
    @include fz(16, true, 24, 600, 0);
  }
}