@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;

.u-fs8{
  font-size: .8rem;
}

.u-fs10{
  font-size: 1rem
}

.u-fs12{
  font-size: 1.2rem;
}

.u-fs14{
  font-size: 1.4rem;
}

.u-fs16{
  font-size: 1.6rem;
}

.u-fs18{
  font-size: 1.8rem;
}

.u-fs20{
  font-size: 2rem;
}
.u-fs24{
  font-size: 2.4rem;
}

.u-fs32{
  font-size: 3.2rem;
}

.u-fs16-sm{
  @include media(sm) {
    font-size: 1.6rem;
  }
}

.u-fs20-sm{
  @include media(sm) {
    font-size: 2rem;
  }
}

.u-fs32-sm{
  @include media(sm) {
    font-size: 3.2rem;
  }
}
