@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;


.u-hr {
  border: none;
  height: 1px;
  background-color: color(border);
}

.u-hr-color{
  border: none;
  height: 1px;
  background-color: color(light-theme);
}