@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;

.u-lh15{
  line-height: 1.5;
}

.u-lh20{
  line-height: 2
}


.u-lh10-sm{
  @include media(sm) {
    line-height: 1;
  }
}