@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;

.l-inline{
  max-width: 120rem;
  margin:0 auto;
  @include media(sm) {
    @include width(1072px, 0, 1.6rem);
  }
}

.l-inline-responsive-none{
  max-width: 120rem;
  margin:0 auto;
}

.l-inline-wide{
  max-width: 150rem;
  margin:0 auto;
}

.l-inline-normal{
  padding:0 4rem;
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    padding:0 1.6rem;
  }
  @include media(sm) {
    padding:0 1.6rem;
  }
}

.l-inline-narrow{
  padding:0 1.6rem;
}