@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;

.l-payment{
  display: flex;
  flex-wrap: wrap;
  gap:.8rem;
  align-items: center;
  
  justify-content: space-between;
  &__item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:2.4rem;
    @include media(sm) {
      gap:.8rem;
    }
  }
}